.Your_Review {
    width: 87.4346%;
    height: 418px;
    margin: 15px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e2;
    border-radius: 16px;
}
.Your_Review .YR_Section {
    width: 100%;
    height: 416.35px;
    padding: 8px 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid #e0e0e2;
}
.Your_Review .YR_Section .YR_Text_Box {
    width: inherit;
    height: 65.46px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 27px;
    text-align: right;
}
.Your_Review .YR_Section .YR_Image_Box {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.Your_Review .YR_Section .YR_Image_Box a {
    width: 50%;
    height: 50%;
    padding: 8px;
}
.Your_Review .YR_Section .YR_Image_Box a img {
    width: 100%;
    height: 100%;
}
.Your_Review .YR_Section .YR_Text_Box .YR_Title2 {
    font-size: 16px;
    font-weight: 700;
    color: #23254e;
    text-align: right;
}
.Your_Review .YR_Section .YR_Text_Box .YR_Title2 {
    font-size: 11px;
    font-weight: 400;
    color: #81858b;
    text-align: right;
}
.Your_Review .YR_Blue {
    width: 100%;
    height: 42px;
    padding-top: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #19bfd3;
}
.Your_Review div:nth-last-child(1) {
    border: unset;
}
.Your_Review .YR_Section .YR_Image_Box a:nth-child(1) {
    border-bottom: 1px solid #e0e0e2;
    border-left: 1px solid #e0e0e2;
}
.Your_Review .YR_Section .YR_Image_Box a:nth-last-child(1) {
    border-top: 1px solid #e0e0e2;
    border-right: 1px solid #e0e0e2;
}
